*{
  margin: 0;
  padding: 0;
}
header{
  background-image: linear-gradient(to right top, #3e3ef6, #0071ff, #0090ff, #00a8eb, #00bbd5, #00c4cc, #00ccbe, #37d2ab, #3fd4a3, #48d59b, #53d792, #5ed889);
  /* background-image: url(images/2.jpg);
  opacity: 0.95;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
/* header, main{
  margin-bottom: 100px;
} */
.spacing{
  margin-bottom: 85px;
}
.top_button, .logo, .navbar, .b_text marquee {
  /* margin: 20px 0px; */
}


.t_b{
  margin: 8px;
  padding: 8px 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right top, #003583, #10469e, #1c57ba, #2669d7, #2f7cf4);
  border: none;
  color: #fff;

}
.logo{
}
.logo img{
  height: 100px;
  width: 200px;
}
marquee a{
  text-decoration: none;
}
.navbar{}
.b_text{
  padding: 25px;
  text-align: center;
}
.b_button{
  font-size: 18px;
  font-weight: 700;
  margin: 13px 0px;
  padding: 20px 115px;
  border-radius: 5px;
  background-image: linear-gradient(to right top, #003583, #10469e, #1c57ba, #2669d7, #2f7cf4);
  border: none;
  color: #fff;
}

/* main start  */
.m_text{
  padding: 30px;
  
}
.m_button{
  font-size: 30px;
  font-weight: 700;
  margin: 13px 0px;
  padding: 50px 115px;
  border-radius: 5px;
  background-image: linear-gradient(to right top, #003583, #10469e, #1c57ba, #2669d7, #2f7cf4);
  border: none;
  color: #fff;
}
.m_button:hover{
  
  background-image: linear-gradient(to left bottom, #003583, #10469e, #1c57ba, #2669d7, #2f7cf4);
}
.donation{
  background-color: rgb(246 246 246);;
}
/* reach us  start*/
.reach_border{
  border: 2px solid #ddd;
  border-radius: 8px;
}
.reach_us{
  margin-top: 65px;
  min-height: 450px;
  padding: 20px 30px;
  border: 2px solid #ddd;
  border-radius: 8px;

}
.reach_img{
  /* overflow: scroll; */
}
#d_text{
  text-align:center;
}

/* reach us  end*/

/* main end */



/* footer start  */
footer{
  padding: 40px 20px;
  background-color:#005AA7;
  color: #fff;
}
.t-u a{
  text-decoration: none;
  color: #fff;
}
.s-m{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
h5{
  font-weight: 800;
}
/* footer end  */